@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Zona Pro Light";
  font-weight: 100;
  src: url("fonts/ZonaPro-ExtraLight.woff2") format("woff2"),
    url("fonts/ZonaPro-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Zona Pro Bold";
  font-weight: bold;
  src: url("fonts/ZonaPro-Bold.woff2") format("woff2"),
    url("fonts/ZonaPro-Bold.woff") format("woff");
}

:root {
  --main-font-bold: "Zona Pro Bold", sans-serif;
  --main-font-light: "Zona Pro Light", sans-serif;
  --alt-font: "Montserrat", sans-serif;
  --light-font: #fff;
  --dark-font: #201e1e;
  --light-gray: #eeeeee;
  --dark-gray: #3c3c3c;
}

.about-cont{
    border:0px solid #201e1e;
    display: flex;

}

.sec-title{
    justify-content: center;
    text-align: center;
    font-family: var(--main-font-light);
    font-weight:800;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 100px;
    word-spacing: 20px;
    letter-spacing: 3px;
}

.cont-1{
    flex: 3;
    border:0px solid #201e1e;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cont-2{
    flex: 4;
    border:0px solid #960e0e;
    padding-left: 20px;
    padding-right: 50px;
    text-align: center;
   
}

.about-img{
    width:560px;
    padding-bottom: 100px;
    padding-top: 30px;
    padding-left: 20px;
}

.about-text{
    font-family: 'Nunito', sans-serif;
    font-weight:530;
    font-size: 16px;
    line-height: 30px;
    word-spacing: 10px;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-right: 50px;
}

.about-text-br {
    background-color: #f5f5f0;
    border: 0px solid #201e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 20px; /* Add padding if desired */
    margin: 10px; /* Add margin if desired */
    border-radius: 8px; /* Add rounded corners */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect for the shadow */
}

.about-text-br:hover {
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.7); /* Change the shadow on hover */
}